*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
#btn-nav{
    color: #aaaaaa;
    position: absolute;
    cursor: pointer;
    font-size: 35px;
    left: 20px;
    top: 10px;
    display: none;
}
#btn-nav i{
    border: 2px solid #aaaaaa;
    padding: 5px;
}
.header{
    width: 100%;
    height: 10vh;
    background: #3d3d3d;
}


.header .header__nav{
    width: 80%;
    height: 100%;
    margin: auto;
    background:#212121;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header .header__nav a{
    text-decoration: none;
    color: #aaaaaa;
    text-transform: uppercase;
    font-size: 20px;
}

.header .header__nav a:hover{
    border-bottom: 1px solid #aaaaaa;
}

.home{
    width: 100%;
    height: 90vh;
    background: url(img/Barberia.webp);
}

.nosotros{
    width: 80%;
    margin: auto;
    text-align: center;
    background: #ccc;
}

.nosotros .nosotros__logo{
    font-size: 45px;
    color: #181818;
    text-transform: uppercase;
}

.nosotros__informacion{
    width: 60%;
    margin: auto;
    padding: 10px;
}

.nosotros__fotos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nosotros__fotos__elemento img{
    width: 100%;
    height: 100%;
}
.locales{
    width: 100%;
    height: 100%;
    text-align: center;
}
.locales__logo{
    font-size: 45px;
    color: #181818;
    text-transform: uppercase;
}
.locales__local{
    height: 30%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.contacto{
    width: 100%;
    height: 100vh;
    background: url(img/contacto.jpg);
    background-size: cover;
    display: flex;
}

.contacto__formulario{
    width: 80%;
    margin: auto;
    height: 80%;
    background: #3d3d3d;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ccc;
}

.contacto__formulario__input,
.contacto__formulario__submit{
    width: 50%;
    height: 40px;
    margin: auto;
    border: none;
    background: #181818;
    color: #ccc;
}
.contacto__formulario__label{
    padding: 5px;
}

.contacto__formulario__submit{
    cursor: pointer;
}
.contacto__formulario__submit:hover{
    background: #ccc;
    color: #181818;
}
textarea{
    resize: none;
}

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    color: #212121;
}

.footer a{
    color: #181818;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

@media (max-width:768px){
    .header .header__nav{
        width: 100%;
    }
    .home{
        background-position: center;
    }
    .nosotros{
        width: 100%;
    }
    .nosotros .nosotros__informacion{
        font-size: 14px;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .locales__logo{
        font-size: 30px;
    }
}